# Predictive Maintinance and Analysis of Back Blaze Hard Disk Drives.
### Introduction

Put write up here.

## Data Import and Data Wrangling

In [1]:
import pandas as pd
import numpy as np
import seaborn as sbn
import matplotlib.pyplot as plt
import os 
import glob

In [2]:
os.getcwd()
path = '/Users/Aron/CDS/CDS_492/HDD-Failure'
os.chdir(path)

In [3]:
#read in the data
#make list of all the files 
#files = [f for f in glob.glob("data/*/*.csv")]

df = pd.concat([pd.read_csv(f) for f in glob.glob("data/*/*.csv")],ignore_index = True)

In [4]:
# make lists of column names needed
IDCols = df.columns[0:5]
rawCols = df.columns[6:95:2]
allrawCols = IDCols.append(rawCols)
normCols = df.columns[7:96:2]

In [5]:
#turn the date column to an actual date.
df['date'] = pd.to_datetime(df['date'])

In [6]:
# sort by date then group by serial number.
#df = df.sort_values(['date'])
#df = df.groupby(['serial_number'])

In [55]:
#select the drives that have failed
fail = df['failure'] == 1
fail = df[fail]
fail = fail['serial_number']
fail_names = df[df['serial_number'].isin(fail)]

#df_fail =df[df_fail['serial_number']]
#sort the failed drirves by serial number and then by date.

#df_fail.reset_index(drop=True)

fail_names

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
17,2017-01-01,Z300KMM3,ST4000DM000,4000787030016,0,119.0,221434504.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,2017-01-01,Z302DK2R,ST4000DM000,4000787030016,0,116.0,109378928.0,NaN,NaN,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,2017-01-01,Z3051NNA,ST4000DM000,4000787030016,0,119.0,215001112.0,NaN,NaN,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,2017-01-01,S300Z60P,ST4000DM000,4000787030016,0,119.0,204581520.0,NaN,NaN,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,2017-01-01,Z1Z06H5C,ST4000DX000,4000787030016,0,117.0,130295575.0,NaN,NaN,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13221293,2016-10-02,Z302F0C2,ST4000DM000,4000787030016,0,114.0,59586600.0,NaN,NaN,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13221407,2016-10-02,Z1Z058NN,ST4000DX000,4000787030016,0,120.0,732471.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13221418,2016-10-02,S300ZS0Z,ST4000DM000,4000787030016,0,111.0,35144768.0,NaN,NaN,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13221450,2016-10-02,W300R8AC,ST4000DM000,4000787030016,0,119.0,210218736.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13221495,2016-10-02,W300D55C,ST4000DM000,4000787030016,0,117.0,144672816.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
fail

65730             Z3015LED
79663             Z300WXNR
94365             Z302B0A5
95874             Z300Y4NH
218384            W300BMRD
                 ...
13154593    PL1331LAGRYTNH
13165594    PL2331LAH467DJ
13166324    PL1331LAHBYPMH
13202294          Z3025LF2
13214021          Z1Z0279D
Name: serial_number, Length: 735, dtype: object

In [21]:
#get the raw data.  Lets n ot do this.,  the raw data is a little odd.  start with the normalized data given. 
#fail_raw = fail_names[allrawCols]
#sort it 
#fail_raw = fail_raw.sort_values(by = ['serial_number','date'])
#fail_raw = fail_raw.reset_index()

In [28]:
fail_norm = fail_names[IDCols.append(normCols)]
fail_norm = fail_norm.sort_values(['serial_number', 'date']).reset_index()

In [54]:

#fail_norm[fail_norm['smart_198_normalized'].isna()]
#df[df['smart_198_normalized'].isna()].sum

In [30]:
#visualize the missing data
fail_norm.isna().sum()
#Wow, there is a lot of NA values in this

index                       0
date                        0
serial_number               0
model                       0
capacity_bytes              0
failure                     0
smart_2_normalized      57067
smart_3_normalized          1
smart_4_normalized          1
smart_5_normalized          1
smart_7_normalized          1
smart_8_normalized      57067
smart_9_normalized          1
smart_10_normalized         1
smart_11_normalized     61220
smart_12_normalized         1
smart_13_normalized     63375
smart_15_normalized     63375
smart_22_normalized     63375
smart_183_normalized    11719
smart_184_normalized     8133
smart_187_normalized     8133
smart_188_normalized     8133
smart_189_normalized     8133
smart_190_normalized     8133
smart_191_normalized     7611
smart_192_normalized      144
smart_193_normalized      475
smart_194_normalized        1
smart_195_normalized    56262
smart_196_normalized    55243
smart_197_normalized        1
smart_198_normalized        1
smart_199_normalized        1
smart_200_normalized    61220
smart_201_normalized    63375
smart_220_normalized    63109
smart_222_normalized    63109
smart_223_normalized    62778
smart_224_normalized    63109
smart_225_normalized    63044
smart_226_normalized    63109
smart_240_normalized     7867
smart_241_normalized     8133
smart_242_normalized     8133
smart_250_normalized    63340
smart_251_normalized    63340
smart_252_normalized    63340
smart_254_normalized    63340
smart_255_normalized    63375
dtype: int64

In [33]:
fail_norm['model'].value_counts()

ST4000DM000                48460
ST8000DM002                 3536
ST4000DX000                 2355
Hitachi HDS5C3030ALA630     1907
HGST HMS5C4040BLE640        1798
Hitachi HDS723030ALA640      961
WDC WD30EFRX                 779
HGST HMS5C4040ALE640         767
WDC WD60EFRX                 721
ST6000DX000                  698
ST500LM012 HN                331
Hitachi HDS5C4040ALE630      279
WDC WD5000LPVX               216
TOSHIBA MQ01ABF050           157
ST3160318AS                  143
TOSHIBA MD04ABA400V          109
WDC WD1600AAJS                62
ST320LT007                    35
WDC WD10EACS                  25
WDC WD5000LPCX                21
ST8000NM0055                  15
Name: model, dtype: int64

Now the drives that have failed are completly sorted, fiirst by serial number then by date.  might need to group_by in order for each serial number to be trated as a single series. not sure though. 

Now lets try start to interrogate the data

In [72]:
#Lets see how many NA's are across the whole data set.
print(df[allrawCols].isna().sum())/len(df)

date                     0
serial_number            0
model                    0
capacity_bytes           0
failure                  0
smart_1_raw            421
smart_2_raw        8475272
smart_3_raw            421
smart_4_raw            421
smart_5_raw            421
smart_7_raw            421
smart_8_raw        8475272
smart_9_raw            421
smart_10_raw           421
smart_11_raw      12699664
smart_12_raw           421
smart_13_raw      13221552
smart_15_raw      13221552
smart_22_raw      13213542
smart_183_raw      6658151
smart_184_raw      5124576
smart_187_raw      5124576
smart_188_raw      5124576
smart_189_raw      5124576
smart_190_raw      5124576
smart_191_raw      4908447
smart_192_raw        16703
smart_193_raw       160716
smart_194_raw          421
smart_195_raw     11158366
smart_196_raw      8097397
smart_197_raw          421
smart_198_raw          421
smart_199_raw          421
smart_200_raw     12699664
smart_201_raw     13221552
smart_220_raw     13167328
smart_222_raw     13167328
smart_223_raw     13023315
smart_224_raw     13167328
smart_225_raw     13077539
smart_226_raw     13167328
smart_240_raw      5065242
smart_241_raw      5133653
smart_242_raw      5133653
smart_250_raw     13219915
smart_251_raw     13219915
smart_252_raw     13219915
smart_254_raw     13202498
smart_255_raw     13221552
dtype: int64

TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

In [71]:
#Make sure that the NA's arent associated woth the failure lines.
fails = df['failure'] == 1
fails = df[fails]
#fails = fails['serial_number']
fails[allrawCols].isna().sum()/len(fails)

date              0.000000
serial_number     0.000000
model             0.000000
capacity_bytes    0.000000
failure           0.000000
smart_1_raw       0.001361
smart_2_raw       0.839456
smart_3_raw       0.001361
smart_4_raw       0.001361
smart_5_raw       0.001361
smart_7_raw       0.001361
smart_8_raw       0.839456
smart_9_raw       0.001361
smart_10_raw      0.001361
smart_11_raw      0.957823
smart_12_raw      0.001361
smart_13_raw      1.000000
smart_15_raw      1.000000
smart_22_raw      1.000000
smart_183_raw     0.272109
smart_184_raw     0.195918
smart_187_raw     0.195918
smart_188_raw     0.195918
smart_189_raw     0.195918
smart_190_raw     0.195918
smart_191_raw     0.179592
smart_192_raw     0.002721
smart_193_raw     0.010884
smart_194_raw     0.001361
smart_195_raw     0.869388
smart_196_raw     0.805442
smart_197_raw     0.001361
smart_198_raw     0.001361
smart_199_raw     0.001361
smart_200_raw     0.957823
smart_201_raw     1.000000
smart_220_raw     0.991837
smart_222_raw     0.991837
smart_223_raw     0.983673
smart_224_raw     0.991837
smart_225_raw     0.991837
smart_226_raw     0.991837
smart_240_raw     0.187755
smart_241_raw     0.195918
smart_242_raw     0.195918
smart_250_raw     0.998639
smart_251_raw     0.998639
smart_252_raw     0.998639
smart_254_raw     0.998639
smart_255_raw     1.000000
dtype: float64

<bound method Series.sum of 65730       False
79663       False
94365       False
95874       False
218384      False
            ...
13154593    False
13165594    False
13166324    False
13202294    False
13214021    False
Name: serial_number, Length: 735, dtype: bool>

In [9]:
from sklearn.preprocessing import StandardScaler
# scale the data

# Separating out the features
x = fail_raw.loc[:, rawCols].values
# Separating out the target
y = fail_raw.loc[:,['failure']].values
# Standardizing the features
x = StandardScaler().fit_transform(x)

/Applications/anaconda3/envs/py38/lib/python3.8/site-packages/sklearn/utils/extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/Applications/anaconda3/envs/py38/lib/python3.8/site-packages/sklearn/utils/extmath.py:711: RuntimeWarning: Degrees of freedom <= 0 for slice.
  result = op(x, *args, **kwargs)

In [17]:
pd.x.describe

AttributeError: module 'pandas' has no attribute 'x'

In [10]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2'])

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').